<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>HTML5响应式第三方登录页面模板</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" /> 

	<link rel="stylesheet" type="text/css" href="/public/front-login/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/front-login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/public/front-login/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/public/front-login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/public/front-login/css/main.css">
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('/public/front-login/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form id="regForm" class="login100-form validate-form">
					<span class="login100-form-title p-b-49" style="padding-bottom: 29px;">注册</span>
					<span id="operTip" style="text-align:center;display: block;color: #f5222d;"></span>
					<div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">
						<span class="label-input100">用户名</span>
						<input class="input100" type="text" id="loginName" name="loginName" placeholder="请输入用户名" autocomplete="off" value="zhangsan">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="请输入密码">
						<span class="label-input100">密码</span>
						<input class="input100" type="password" id="password" name="password" placeholder="请输入密码" value="123456">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="请输入邮箱">
						<span class="label-input100">邮箱</span>
						<input class="input100" type="text" id="email" name="email" placeholder="请输入邮箱" value="123456@qq.com">
						<span class="focus-input100" data-symbol="&#xf23e;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="请输入手机号码">
						<span class="label-input100">手机号码</span>
						<input class="input100" type="text" id="phonenumber" name="phonenumber" placeholder="请输入手机号码" value="13688888888">
						<span class="focus-input100" data-symbol="&#xf1f9;"></span>
					</div>
					<div class="text-right p-t-8 p-b-31"></div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="button">注册</button>
						</div>
					</div>

					<!-- <div class="txt1 text-center p-t-54 p-b-20">
						<span>第三方登录</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-wechat"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-qq"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-weibo"></i>
						</a>
					</div> -->

					<div class="flex-col-c p-t-25">
						<a href="/front/toLogin" class="txt2">立即登录</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- <script src="/public/front-login/vendor/jquery/jquery-3.2.1.min.js"></script> -->
	<script src="/js/jquery.min.js"></script>
	<script src="/public/front-login/js/main.js"></script>
	
	
	 <script>
	 
	 $(function () {
		 $(".login100-form-btn").click(function(){
			 $.ajax({
		            type: "POST",
		            url: "/front/reg",
		            data: $("#regForm").serialize(),
		            dataType: "json",
		            success: function (data) {
		            	console.info(data);
		                if (data.code == 0) {
		                	window.location.href="/"+data.msg+".html";
		                }else{
		                	$("#operTip").html(data.msg);
		                }
		            },
		            error: function (jqXHR) {
		                layer.msg('发送错误：' + jqXHR.status, {icon: 2});
		            },
		        });
		 });
	 });
	 </script>
</body>

</html>